doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')

		block title
			title Brunch_Basic_Boilerplate

		//- metatags
		block google_metatags
			meta(name='description', content='Page_description')
			meta(name='subject', content='Page_subject')

		//- Share graphs for social media
		block og_metatags
			meta(property="og:url" 			content="PLACE_YOUR_URL")
			meta(property="og:title" 		content="PLACE_YOUR_TITLE")
			meta(property="og:description" 	content="PLACE_YOUR_DESCRIPTION")
			meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")

		//- Share graphs that doesn't change
		meta(property="og:type" 		content="website")
		meta(name="twitter:card", content="summary")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- testing grid
		//- mobile
		.mobile-grid.testing
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner

		//- desktop
		//- .desktop-grid.testing
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner




		//- header
		h1 Brunch Basic Boilerplate
		h2 Built from scratch, no libraries yet.
		h4 by Andrew Alva

		//- content
		#main-wrapper
			block content

		//- scripts
		script(src='js/app.js')