extends _templates/layout.jade


block title
	title Brunch_Basic_Boilerplate


block google_metatags
	meta(name='description', content='Page_description')
	meta(name='subject', content='Page_subject')


block og_metatags
	meta(property="og:url" 			content="PLACE_YOUR_URL")
	meta(property="og:title" 		content="PLACE_YOUR_TITLE")
	meta(property="og:description" 	content="PLACE_YOUR_DESCRIPTION")
	meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")


block content
	h3 index.jade loaded.